* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px
}

.app-header {
    display: flex;
    justify-content: center;
    background-color: #f1f6f9;
    height: 60px;
    width: 100%;
    position: fixed;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.page-title {
    text-align: center;
}

div {
    height: 500px;
}

.footer-nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #f1f6f9;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icon{
    height: 40px;
    width: 40px;
    margin: 5px;
}